:root {
  --header-height: 150px;
  --header-text-size: 4em;
  --header-font-width: 160px;
  --header-font-margin-bottom: 0 auto;
  --header-color: white;
}

.content-header-section {
  width: calc(100vw - var(--navbar-width));
  height: var(--header-height);
  padding: 30px 0;
  margin-left: var(--navbar-width);
  position: fixed;
  background-color: var(--header-color);
  transition: all 0.3s;
  z-index: 1;
  color: var(--berkeley-blue);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.changing-text {
  width: var(--header-font-width);
  margin: var(--header-font-margin-bottom);
  font-size: var(--header-text-size);
  transition: all 0.3s;
}

.minimized-header {
  --header-height: 100px;
  --header-text-size: 3em;
  --header-font-width: 120px;
  --header-font-margin-bottom: -15px auto;
}

.home-text-width {
  --header-font-width: 160px;
}

.projects-text-width {
  --header-font-width: 215px;
}

.experience-text-width {
  --header-font-width: 300px;
}

.learntowin-text-width {
  --header-font-width: 365px;
}

.sixtyoneBAI-text-width {
  --header-font-width: 170px;
 }

.core-research-text-width {
  --header-font-width: 380px;
}

.high-school-text-width {
  --header-font-width: 320px;
}

.contact-text-width {
  --header-font-width: 205px;
}