:root {
  --navbar-width: 200px;
}

.side-navbar {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  transition: all 0.3s;
  z-index: 999;
}

.collapsed-navbar {
  --navbar-width: 80px;
}
