.main-content {
  padding: 15px;
  background-color: white;
  margin-top: 130px;
}

.content-section {
  background-color: white;
  margin-top: 150px;
  width: calc(100vw - 200px);
  padding: 30px 0;
  margin-left: 200px
}