* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.content-section {
  padding: 50px;
  position: absolute;
  margin-top: var(--header-height);
  width: calc(100vw - 230px);
  left: var(--navbar-width);
  height: 2000px;
  z-index: -1;
  transition: all 0.3s;
}